USE PLANTILLA_v13
GO
/****** Object: Table [dbo].[MINERALIZACIONCODE]  Script Date: 27/04/2017 04:31:52 p.m. ******/
DROP TABLE [dbo].[MINERALIZACIONCODE]
GO
/****** Object: Table [dbo].[LITOLOGIACODE]  Script Date: 27/04/2017 04:31:52 p.m. ******/
DROP TABLE [dbo].[LITOLOGIACODE]
GO
/****** Object: Table [dbo].[FORMACIONCODE]  Script Date: 27/04/2017 04:31:52 p.m. ******/
DROP TABLE [dbo].[FORMACIONCODE]
GO
/****** Object: Table [dbo].[ESTRUCTURALINEASCODE]  Script Date: 27/04/2017 04:31:52 p.m. ******/
DROP TABLE [dbo].[ESTRUCTURALINEASCODE]
GO
/****** Object: Table [dbo].[ALTERACIONCODE]  Script Date: 27/04/2017 04:31:52 p.m. ******/
DROP TABLE [dbo].[ALTERACIONCODE]
GO

CREATE TABLE [dbo].[ALTERACIONCODE](
 [AltCodeId] [int] IDENTITY(1,1) NOT NULL,
 [DOMINIO] [varchar](80) NOT NULL,
 [NOMBRE] [varchar](120) NOT NULL,
 [CODIGO] [varchar](60) NOT NULL,
 CONSTRAINT [PK_ALTERACIONCODE] PRIMARY KEY CLUSTERED 
(
 [AltCodeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object: Table [dbo].[ESTRUCTURALINEASCODE]  Script Date: 27/04/2017 04:31:52 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTRUCTURALINEASCODE](
 [EstLineasCodeId] [int] IDENTITY(1,1) NOT NULL,
 [TIPO] [nvarchar](80) NOT NULL,
 [CodTIPO] [smallint] NOT NULL,
 [SUBTIPO] [nvarchar](80) NULL,
 [CodSUB] [nvarchar](20) NULL,
 [DomSUB] [nvarchar](80) NULL,
 [INTENSIDAD] [nvarchar](80) NULL,
 [CodINT] [nvarchar](20) NULL,
 [DomINT] [nvarchar](80) NULL,
 [INFORMACION] [nvarchar](80) NULL,
 [CodINF] [nvarchar](20) NULL,
 [DomINF] [nvarchar](80) NULL,
 [MOVIMIENTO] [nvarchar](80) NULL,
 [CodMOV] [nvarchar](20) NULL,
 [DomMOV] [nvarchar](80) NULL,
 [TEXTURA] [nvarchar](80) NULL,
 [CodTXT] [nvarchar](20) NULL,
 [DomTXT] [nvarchar](80) NULL,
 [RELLENO] [nvarchar](80) NULL,
 [CodRNO] [nvarchar](20) NULL,
 [DomRNO] [nvarchar](80) NULL,
 [ANCHO] [nvarchar](80) NULL,
 [CodANC] [nvarchar](20) NULL,
 [DomANC] [nvarchar](80) NULL,
 [MENA1] [nvarchar](80) NULL,
 [CodMEN] [nvarchar](20) NULL,
 [DomMEN] [nvarchar](80) NULL,
 [GANGA1] [nvarchar](80) NULL,
 [CodGAN] [nvarchar](20) NULL,
 [DomGAN] [nvarchar](80) NULL,
 CONSTRAINT [PK_ESTRUCTURALINEASCODE] PRIMARY KEY CLUSTERED 
(
 [EstLineasCodeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object: Table [dbo].[FORMACIONCODE]  Script Date: 27/04/2017 04:31:52 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FORMACIONCODE](
 [FrmCodeId] [int] IDENTITY(1,1) NOT NULL,
 [CODIGO] [varchar](60) NOT NULL,
 [NOMBRE] [varchar](180) NOT NULL,
PRIMARY KEY CLUSTERED 
(
 [FrmCodeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object: Table [dbo].[LITOLOGIACODE]  Script Date: 27/04/2017 04:31:52 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LITOLOGIACODE](
 [LitoCodeId] [int] IDENTITY(1,1) NOT NULL,
 [TIPO] [nvarchar](80) NOT NULL,
 [CodTIPO] [smallint] NOT NULL,
 [SUBTIPO] [nvarchar](80) NULL,
 [CodSUB] [nvarchar](20) NULL,
 [DomSUB] [nvarchar](80) NULL,
 [TEXTURA] [nvarchar](80) NULL,
 [CodTXT] [nvarchar](20) NULL,
 [DomTXT] [nvarchar](80) NULL,
 [CLASTO] [nvarchar](80) NULL,
 [CodCLA] [nvarchar](20) NULL,
 [DomCLA] [nvarchar](80) NULL,
 [COMPOSICION] [nvarchar](80) NULL,
 [CodCOM] [nvarchar](20) NULL,
 [DomCOM] [nvarchar](80) NULL,
 [FORMA] [nvarchar](80) NULL,
 [CodFOR] [nvarchar](20) NULL,
 [DomFOR] [nvarchar](80) NULL,
 [FOSILES] [nvarchar](80) NULL,
 [CodFOS] [nvarchar](20) NULL,
 [DomFOS] [nvarchar](80) NULL,
 [FORMACION] [nvarchar](80) NULL,
 [CodFRM] [nvarchar](20) NULL,
 [DomFRM] [nvarchar](80) NULL,
 [CEMENTO_MTZ] [nvarchar](80) NULL,
 [CodCEM] [nvarchar](20) NULL,
 [DomCEM] [nvarchar](80) NULL,
 CONSTRAINT [PK_LITOLOGIACODE] PRIMARY KEY CLUSTERED 
(
 [LitoCodeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object: Table [dbo].[MINERALIZACIONCODE]  Script Date: 27/04/2017 04:31:52 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MINERALIZACIONCODE](
 [MinCodeId] [int] IDENTITY(1,1) NOT NULL,
 [TIPO] [varchar](120) NOT NULL,
 [CODTIPO] [int] NOT NULL,
 [DOMINIO] [varchar](80) NOT NULL,
 [NOMBRE] [varchar](120) NOT NULL,
 [CODIGO] [varchar](60) NOT NULL,
 CONSTRAINT [PK_MINERALIZACIONCODE] PRIMARY KEY CLUSTERED 
(
 [MinCodeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ALTERACIONCODE] ON 

INSERT [dbo].[ALTERACIONCODE] ([AltCodeId], [DOMINIO], [NOMBRE], [CODIGO]) VALUES (1, N'DOM_ALT_MIN', N'Sílice', N'Sil')
INSERT [dbo].[ALTERACIONCODE] ([AltCodeId], [DOMINIO], [NOMBRE], [CODIGO]) VALUES (2, N'DOM_ALT_MIN', N'Alunita', N'aln')
INSERT [dbo].[ALTERACIONCODE] ([AltCodeId], [DOMINIO], [NOMBRE], [CODIGO]) VALUES (3, N'DOM_ALT_MIN', N'Dickita', N'dck')

SET IDENTITY_INSERT [dbo].[ALTERACIONCODE] OFF
SET IDENTITY_INSERT [dbo].[ESTRUCTURALINEASCODE] ON


SET IDENTITY_INSERT [dbo].[ESTRUCTURALINEASCODE] OFF
SET IDENTITY_INSERT [dbo].[FORMACIONCODE] ON


INSERT [dbo].[FORMACIONCODE] ([FrmCodeId], [CODIGO], [NOMBRE]) VALUES (1, N'FmAlp', N'Fm. Alpabamba')
INSERT [dbo].[FORMACIONCODE] ([FrmCodeId], [CODIGO], [NOMBRE]) VALUES (2, N'FmAni', N'Fm. Aniso')
INSERT [dbo].[FORMACIONCODE] ([FrmCodeId], [CODIGO], [NOMBRE]) VALUES (3, N'FmArc', N'Fm. Arcurquina')


SET IDENTITY_INSERT [dbo].[FORMACIONCODE] OFF
SET IDENTITY_INSERT [dbo].[LITOLOGIACODE] ON

INSERT [dbo].[LITOLOGIACODE] ([LitoCodeId], [TIPO], [CodTIPO], [SUBTIPO], [CodSUB], [DomSUB], [TEXTURA], [CodTXT], [DomTXT], [CLASTO], [CodCLA], [DomCLA], [COMPOSICION], [CodCOM], [DomCOM], [FORMA], [CodFOR], [DomFOR], [FOSILES], [CodFOS], [DomFOS], [FORMACION], [CodFRM], [DomFRM], [CEMENTO_MTZ], [CodCEM], [DomCEM]) VALUES (1, N'Subvolcánico', 1, NULL, NULL, NULL, N'Afanítico', N'afan', N'DOM_LIT_TXT_SubVolc', NULL, NULL, NULL, N'Riolita', N'Rio', N'DOM_LIT_COM_SubVolc', N'Domo', N'Dom', N'DOM_LIT_FOR_SubVolc', NULL, NULL, NULL, N'Sarpane', N'Sar', N'DOM_LIT_FRM_SubVolc', NULL, NULL, NULL)

SET IDENTITY_INSERT [dbo].[LITOLOGIACODE] OFF
SET IDENTITY_INSERT [dbo].[MINERALIZACIONCODE] ON

INSERT [dbo].[MINERALIZACIONCODE] ([MinCodeId], [TIPO], [CODTIPO], [DOMINIO], [NOMBRE], [CODIGO]) VALUES (1, N'Supérgeno', 1, N'DOM_MIN_COM_Sup', N'Atacamita', N'atc')
INSERT [dbo].[MINERALIZACIONCODE] ([MinCodeId], [TIPO], [CODTIPO], [DOMINIO], [NOMBRE], [CODIGO]) VALUES (2, N'Supérgeno', 1, N'DOM_MIN_COM_Sup', N'Azurita', N'az')
INSERT [dbo].[MINERALIZACIONCODE] ([MinCodeId], [TIPO], [CODTIPO], [DOMINIO], [NOMBRE], [CODIGO]) VALUES (3, N'Supérgeno', 1, N'DOM_MIN_COM_Sup', N'Cerusita', N'ce')
GO
SET IDENTITY_INSERT [dbo].[MINERALIZACIONCODE] OFF