USE PLANTILLA_v13
GO

IF EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[dbo].[TGRI_MINERALIZACION__1K]'))
	DROP TRIGGER dbo.[TGRI_MINERALIZACION__1K]
GO

/*** CREANDO TRIGGER ****/
-- =============================================
-- Author:		Marlon Leandro
-- Create date: 19/04/2017
-- Description:	Controlar registro de mapeo de MINERALIZACION
-- =============================================
CREATE TRIGGER [dbo].[TGRI_MINERALIZACION__1K]
   ON  [dbo].[MINERALIZACION__1K]
   AFTER INSERT
AS 
BEGIN	
	DECLARE @vTipo smallint, @vComposicion1 varchar(60), @vComposicion2 varchar(60), @vComposicion3 varchar(60), @vComposicion4 varchar(60), @vComposicion5 varchar(60),
			@vEstilo1 varchar(60), @vEstilo2 varchar(60), @vEstilo3 varchar(60), @vEstilo4 varchar(60), @vEstilo5 varchar(60), @vTxtTipo varchar(80), 
			@vTxtComposicion1 varchar(60), @vTxtComposicion2 varchar(60), @vTxtComposicion3 varchar(60), @vTxtComposicion4 varchar(60), @vTxtComposicion5 varchar(60),
			@vTxtEstilo1 varchar(60), @vTxtEstilo2 varchar(60), @vTxtEstilo3 varchar(60), @vTxtEstilo4 varchar(60), @vTxtEstilo5 varchar(60),
			@vCodLabel nvarchar(80), @vCodRGB nvarchar(60), @vObjectID int

	SELECT @vTipo=TIPO, @vComposicion1=COMPOSICION1, @vComposicion2=COMPOSICION2, @vComposicion3=COMPOSICION3, @vComposicion4=COMPOSICION4, @vComposicion5=COMPOSICION5, 
			@vEstilo1=ESTILO1, @vEstilo2=ESTILO2, @vEstilo3=ESTILO3, @vEstilo4=ESTILO4, @vEstilo5=ESTILO5, @vObjectID=OBJECTID
	FROM inserted
	
	/*** VALIDACION DE TIPO 1 = Supérgeno (label = COMPOSICION1 + ESTILO1,  RGB = TIPO) ***/
	IF @vTipo=1
	BEGIN
		IF @vComposicion1 IS NOT NULL
		BEGIN
			SELECT @vTxtComposicion1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_COM_Sup' AND CODIGO=@vComposicion1
			SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

			IF @vEstilo1 IS NOT NULL
			BEGIN
				SELECT @vTxtEstilo1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_EST' AND CODIGO=@vEstilo1
				SET @vCodLabel = @vTxtComposicion1 + '-' + @vTxtEstilo1
			END

			SET @vCodRGB = @vTxtTipo
		END
	END

	/*** VALIDACION DE TIPO 2 = Oxidos, Sulfatos y Carbonatos (label = COMPOSICION1 + ESTILO1,  RGB = TIPO) ***/
	IF @vTipo=2
	BEGIN
		IF @vComposicion1 IS NOT NULL
		BEGIN
			SELECT @vTxtComposicion1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_COM_Oxs' AND CODIGO=@vComposicion1
			SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

			IF @vEstilo1 IS NOT NULL
			BEGIN
				SELECT @vTxtEstilo1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_EST' AND CODIGO=@vEstilo1
				SET @vCodLabel = @vTxtComposicion1 + '-' + @vTxtEstilo1
			END

			SET @vCodRGB = @vTxtTipo
		END
	END
	
	/*** VALIDACION DE TIPO 3 = Mixto (label = COMPOSICION1 + ESTILO1,  RGB = TIPO) ***/
	IF @vTipo=3
	BEGIN
		IF @vComposicion1 IS NOT NULL
		BEGIN
			SELECT @vTxtComposicion1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_COM_Mix' AND CODIGO=@vComposicion1
			SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

			IF @vEstilo1 IS NOT NULL
			BEGIN
				SELECT @vTxtEstilo1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_EST' AND CODIGO=@vEstilo1
				SET @vCodLabel = @vTxtComposicion1 + '-' + @vTxtEstilo1
			END

			SET @vCodRGB = @vTxtTipo
		END
	END

	/*** VALIDACION DE TIPO 4 = Hipogeno (label = COMPOSICION1 + ESTILO1,  RGB = TIPO) ***/
	IF @vTipo=4
	BEGIN
		IF @vComposicion1 IS NOT NULL
		BEGIN
			SELECT @vTxtComposicion1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_COM_Hip' AND CODIGO=@vComposicion1
			SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

			IF @vEstilo1 IS NOT NULL
			BEGIN
				SELECT @vTxtEstilo1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_EST' AND CODIGO=@vEstilo1
				SET @vCodLabel = @vTxtComposicion1 + '-' + @vTxtEstilo1
			END

			SET @vCodRGB = @vTxtTipo
		END
	END

	/*** VALIDACION DE TIPO 5 = Sin Mineralización (label = TIPO,  RGB = TIPO) ***/
	IF @vTipo=5
	BEGIN
		SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

		SET @vCodLabel = @vTxtTipo
		SET @vCodRGB = @vTxtTipo
	END

	IF @vComposicion1 IS NOT NULL AND @vComposicion2 IS NOT NULL AND @vEstilo1 IS NOT NULL AND @vEstilo2 IS NOT NULL
	BEGIN
		IF @vComposicion1 = @vComposicion2 AND @vEstilo1 = @vEstilo2
		BEGIN
			RAISERROR('ERROR: La combinacion COMPOSICION y ESTILO no puede repetirse!',15,-1)
			ROLLBACK
			RETURN
		END
	END

	/*** VALIDACION DE TIPO 6 = Oxido de Fierro (label = COMPOSICION1 + ESTILO1,  RGB = TIPO) ***/
	IF @vTipo=6
	BEGIN
		IF @vComposicion1 IS NOT NULL
		BEGIN
			SELECT @vTxtComposicion1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_COM_OxFe' AND CODIGO=@vComposicion1
			SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

			IF @vEstilo1 IS NOT NULL
			BEGIN
				SELECT @vTxtEstilo1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_EST' AND CODIGO=@vEstilo1
				SET @vCodLabel = @vTxtComposicion1 + '-' + @vTxtEstilo1
			END

			SET @vCodRGB = @vTxtTipo
		END
	END

	/*** VALIDACION DE TIPO 7 = Oxido de Manganeso (label = COMPOSICION1 + ESTILO1,  RGB = TIPO) ***/
	IF @vTipo=7
	BEGIN
		IF @vComposicion1 IS NOT NULL
		BEGIN
			SELECT @vTxtComposicion1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_COM_OxMn' AND CODIGO=@vComposicion1
			SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

			IF @vEstilo1 IS NOT NULL
			BEGIN
				SELECT @vTxtEstilo1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_EST' AND CODIGO=@vEstilo1
				SET @vCodLabel = @vTxtComposicion1 + '-' + @vTxtEstilo1
			END

			SET @vCodRGB = @vTxtTipo
		END
	END

	/*** VALIDACION DE TIPO 8 = Sulfatos (label = COMPOSICION1 + ESTILO1,  RGB = TIPO) ***/
	IF @vTipo=8
	BEGIN
		IF @vComposicion1 IS NOT NULL
		BEGIN
			SELECT @vTxtComposicion1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_COM_Sul' AND CODIGO=@vComposicion1
			SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

			IF @vEstilo1 IS NOT NULL
			BEGIN
				SELECT @vTxtEstilo1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_EST' AND CODIGO=@vEstilo1
				SET @vCodLabel = @vTxtComposicion1 + '-' + @vTxtEstilo1
			END

			SET @vCodRGB = @vTxtTipo
		END
	END

	/*** VALIDACION DE TIPO 9 = Carbonatos (label = COMPOSICION1 + ESTILO1,  RGB = TIPO) ***/
	IF @vTipo=9
	BEGIN
		IF @vComposicion1 IS NOT NULL
		BEGIN
			SELECT @vTxtComposicion1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_COM_Car' AND CODIGO=@vComposicion1
			SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

			IF @vEstilo1 IS NOT NULL
			BEGIN
				SELECT @vTxtEstilo1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_EST' AND CODIGO=@vEstilo1
				SET @vCodLabel = @vTxtComposicion1 + '-' + @vTxtEstilo1
			END

			SET @vCodRGB = @vTxtTipo
		END
	END
	
	/*** VALIDACION DE TIPO 10 = Oxidos de Cu (label = COMPOSICION1 + ESTILO1,  RGB = TIPO) ***/
	IF @vTipo=10
	BEGIN
		IF @vComposicion1 IS NOT NULL
		BEGIN
			SELECT @vTxtComposicion1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_COM_OxCu' AND CODIGO=@vComposicion1
			SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

			IF @vEstilo1 IS NOT NULL
			BEGIN
				SELECT @vTxtEstilo1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_EST' AND CODIGO=@vEstilo1
				SET @vCodLabel = @vTxtComposicion1 + '-' + @vTxtEstilo1
			END

			SET @vCodRGB = @vTxtTipo
		END
	END
	
	IF @vCodLabel IS NOT NULL AND @vCodRGB IS NOT NULL
		UPDATE MINERALIZACION__1K SET MIN_MAP=@vCodLabel, ESTILO_RGB=@vCodRGB WHERE OBJECTID=@vObjectID
	ELSE
		UPDATE MINERALIZACION__1K SET MIN_MAP=NULL, ESTILO_RGB=NULL WHERE OBJECTID=@vObjectID
END
GO

IF EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[dbo].[TGRI_MINERALIZACION__2K]'))
	DROP TRIGGER dbo.[TGRI_MINERALIZACION__2K]
GO

/*** CREANDO TRIGGER ****/
-- =============================================
-- Author:		Marlon Leandro
-- Create date: 19/04/2017
-- Description:	Controlar registro de mapeo de MINERALIZACION
-- =============================================
CREATE TRIGGER [dbo].[TGRI_MINERALIZACION__2K]
   ON  [dbo].[MINERALIZACION__2K]
   AFTER INSERT
AS 
BEGIN	
	DECLARE @vTipo smallint, @vComposicion1 varchar(60), @vComposicion2 varchar(60), @vComposicion3 varchar(60), @vComposicion4 varchar(60), @vComposicion5 varchar(60),
			@vEstilo1 varchar(60), @vEstilo2 varchar(60), @vEstilo3 varchar(60), @vEstilo4 varchar(60), @vEstilo5 varchar(60), @vTxtTipo varchar(80), 
			@vTxtComposicion1 varchar(60), @vTxtComposicion2 varchar(60), @vTxtComposicion3 varchar(60), @vTxtComposicion4 varchar(60), @vTxtComposicion5 varchar(60),
			@vTxtEstilo1 varchar(60), @vTxtEstilo2 varchar(60), @vTxtEstilo3 varchar(60), @vTxtEstilo4 varchar(60), @vTxtEstilo5 varchar(60),
			@vCodLabel nvarchar(80), @vCodRGB nvarchar(60), @vObjectID int

	SELECT @vTipo=TIPO, @vComposicion1=COMPOSICION1, @vComposicion2=COMPOSICION2, @vComposicion3=COMPOSICION3, @vComposicion4=COMPOSICION4, @vComposicion5=COMPOSICION5, 
			@vEstilo1=ESTILO1, @vEstilo2=ESTILO2, @vEstilo3=ESTILO3, @vEstilo4=ESTILO4, @vEstilo5=ESTILO5, @vObjectID=OBJECTID
	FROM inserted
	
	/*** VALIDACION DE TIPO 1 = Supérgeno (label = COMPOSICION1 + ESTILO1,  RGB = TIPO) ***/
	IF @vTipo=1
	BEGIN
		IF @vComposicion1 IS NOT NULL
		BEGIN
			SELECT @vTxtComposicion1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_COM_Sup' AND CODIGO=@vComposicion1
			SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

			IF @vEstilo1 IS NOT NULL
			BEGIN
				SELECT @vTxtEstilo1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_EST' AND CODIGO=@vEstilo1
				SET @vCodLabel = @vTxtComposicion1 + '-' + @vTxtEstilo1
			END

			SET @vCodRGB = @vTxtTipo
		END
	END

	/*** VALIDACION DE TIPO 2 = Oxidos, Sulfatos y Carbonatos (label = COMPOSICION1 + ESTILO1,  RGB = TIPO) ***/
	IF @vTipo=2
	BEGIN
		IF @vComposicion1 IS NOT NULL
		BEGIN
			SELECT @vTxtComposicion1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_COM_Oxs' AND CODIGO=@vComposicion1
			SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

			IF @vEstilo1 IS NOT NULL
			BEGIN
				SELECT @vTxtEstilo1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_EST' AND CODIGO=@vEstilo1
				SET @vCodLabel = @vTxtComposicion1 + '-' + @vTxtEstilo1
			END

			SET @vCodRGB = @vTxtTipo
		END
	END
	
	/*** VALIDACION DE TIPO 3 = Mixto (label = COMPOSICION1 + ESTILO1,  RGB = TIPO) ***/
	IF @vTipo=3
	BEGIN
		IF @vComposicion1 IS NOT NULL
		BEGIN
			SELECT @vTxtComposicion1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_COM_Mix' AND CODIGO=@vComposicion1
			SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

			IF @vEstilo1 IS NOT NULL
			BEGIN
				SELECT @vTxtEstilo1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_EST' AND CODIGO=@vEstilo1
				SET @vCodLabel = @vTxtComposicion1 + '-' + @vTxtEstilo1
			END

			SET @vCodRGB = @vTxtTipo
		END
	END

	/*** VALIDACION DE TIPO 4 = Hipogeno (label = COMPOSICION1 + ESTILO1,  RGB = TIPO) ***/
	IF @vTipo=4
	BEGIN
		IF @vComposicion1 IS NOT NULL
		BEGIN
			SELECT @vTxtComposicion1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_COM_Hip' AND CODIGO=@vComposicion1
			SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

			IF @vEstilo1 IS NOT NULL
			BEGIN
				SELECT @vTxtEstilo1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_EST' AND CODIGO=@vEstilo1
				SET @vCodLabel = @vTxtComposicion1 + '-' + @vTxtEstilo1
			END

			SET @vCodRGB = @vTxtTipo
		END
	END

	/*** VALIDACION DE TIPO 5 = Sin Mineralización (label = TIPO,  RGB = TIPO) ***/
	IF @vTipo=5
	BEGIN
		SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

		SET @vCodLabel = @vTxtTipo
		SET @vCodRGB = @vTxtTipo
	END

	IF @vComposicion1 IS NOT NULL AND @vComposicion2 IS NOT NULL AND @vEstilo1 IS NOT NULL AND @vEstilo2 IS NOT NULL
	BEGIN
		IF @vComposicion1 = @vComposicion2 AND @vEstilo1 = @vEstilo2
		BEGIN
			RAISERROR('ERROR: La combinacion COMPOSICION y ESTILO no puede repetirse!',15,-1)
			ROLLBACK
			RETURN
		END
	END

	/*** VALIDACION DE TIPO 6 = Oxido de Fierro (label = COMPOSICION1 + ESTILO1,  RGB = TIPO) ***/
	IF @vTipo=6
	BEGIN
		IF @vComposicion1 IS NOT NULL
		BEGIN
			SELECT @vTxtComposicion1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_COM_OxFe' AND CODIGO=@vComposicion1
			SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

			IF @vEstilo1 IS NOT NULL
			BEGIN
				SELECT @vTxtEstilo1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_EST' AND CODIGO=@vEstilo1
				SET @vCodLabel = @vTxtComposicion1 + '-' + @vTxtEstilo1
			END

			SET @vCodRGB = @vTxtTipo
		END
	END

	/*** VALIDACION DE TIPO 7 = Oxido de Manganeso (label = COMPOSICION1 + ESTILO1,  RGB = TIPO) ***/
	IF @vTipo=7
	BEGIN
		IF @vComposicion1 IS NOT NULL
		BEGIN
			SELECT @vTxtComposicion1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_COM_OxMn' AND CODIGO=@vComposicion1
			SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

			IF @vEstilo1 IS NOT NULL
			BEGIN
				SELECT @vTxtEstilo1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_EST' AND CODIGO=@vEstilo1
				SET @vCodLabel = @vTxtComposicion1 + '-' + @vTxtEstilo1
			END

			SET @vCodRGB = @vTxtTipo
		END
	END

	/*** VALIDACION DE TIPO 8 = Sulfatos (label = COMPOSICION1 + ESTILO1,  RGB = TIPO) ***/
	IF @vTipo=8
	BEGIN
		IF @vComposicion1 IS NOT NULL
		BEGIN
			SELECT @vTxtComposicion1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_COM_Sul' AND CODIGO=@vComposicion1
			SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

			IF @vEstilo1 IS NOT NULL
			BEGIN
				SELECT @vTxtEstilo1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_EST' AND CODIGO=@vEstilo1
				SET @vCodLabel = @vTxtComposicion1 + '-' + @vTxtEstilo1
			END

			SET @vCodRGB = @vTxtTipo
		END
	END

	/*** VALIDACION DE TIPO 9 = Carbonatos (label = COMPOSICION1 + ESTILO1,  RGB = TIPO) ***/
	IF @vTipo=9
	BEGIN
		IF @vComposicion1 IS NOT NULL
		BEGIN
			SELECT @vTxtComposicion1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_COM_Car' AND CODIGO=@vComposicion1
			SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

			IF @vEstilo1 IS NOT NULL
			BEGIN
				SELECT @vTxtEstilo1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_EST' AND CODIGO=@vEstilo1
				SET @vCodLabel = @vTxtComposicion1 + '-' + @vTxtEstilo1
			END

			SET @vCodRGB = @vTxtTipo
		END
	END
	
	/*** VALIDACION DE TIPO 10 = Oxidos de Cu (label = COMPOSICION1 + ESTILO1,  RGB = TIPO) ***/
	IF @vTipo=10
	BEGIN
		IF @vComposicion1 IS NOT NULL
		BEGIN
			SELECT @vTxtComposicion1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_COM_OxCu' AND CODIGO=@vComposicion1
			SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

			IF @vEstilo1 IS NOT NULL
			BEGIN
				SELECT @vTxtEstilo1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_EST' AND CODIGO=@vEstilo1
				SET @vCodLabel = @vTxtComposicion1 + '-' + @vTxtEstilo1
			END

			SET @vCodRGB = @vTxtTipo
		END
	END
	
	IF @vCodLabel IS NOT NULL AND @vCodRGB IS NOT NULL
		UPDATE MINERALIZACION__2K SET MIN_MAP=@vCodLabel, ESTILO_RGB=@vCodRGB WHERE OBJECTID=@vObjectID
	ELSE
		UPDATE MINERALIZACION__2K SET MIN_MAP=NULL, ESTILO_RGB=NULL WHERE OBJECTID=@vObjectID
END
GO

IF EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[dbo].[TGRI_MINERALIZACION__5K]'))
	DROP TRIGGER dbo.[TGRI_MINERALIZACION__5K]
GO

/*** CREANDO TRIGGER ****/
-- =============================================
-- Author:		Marlon Leandro
-- Create date: 19/04/2017
-- Description:	Controlar registro de mapeo de MINERALIZACION
-- =============================================
CREATE TRIGGER [dbo].[TGRI_MINERALIZACION__5K]
   ON  [dbo].[MINERALIZACION__5K]
   AFTER INSERT
AS 
BEGIN	
	DECLARE @vTipo smallint, @vComposicion1 varchar(60), @vComposicion2 varchar(60), @vComposicion3 varchar(60), @vComposicion4 varchar(60), @vComposicion5 varchar(60),
			@vEstilo1 varchar(60), @vEstilo2 varchar(60), @vEstilo3 varchar(60), @vEstilo4 varchar(60), @vEstilo5 varchar(60), @vTxtTipo varchar(80), 
			@vTxtComposicion1 varchar(60), @vTxtComposicion2 varchar(60), @vTxtComposicion3 varchar(60), @vTxtComposicion4 varchar(60), @vTxtComposicion5 varchar(60),
			@vTxtEstilo1 varchar(60), @vTxtEstilo2 varchar(60), @vTxtEstilo3 varchar(60), @vTxtEstilo4 varchar(60), @vTxtEstilo5 varchar(60),
			@vCodLabel nvarchar(80), @vCodRGB nvarchar(60), @vObjectID int

	SELECT @vTipo=TIPO, @vComposicion1=COMPOSICION1, @vComposicion2=COMPOSICION2, @vComposicion3=COMPOSICION3, @vComposicion4=COMPOSICION4, @vComposicion5=COMPOSICION5, 
			@vEstilo1=ESTILO1, @vEstilo2=ESTILO2, @vEstilo3=ESTILO3, @vEstilo4=ESTILO4, @vEstilo5=ESTILO5, @vObjectID=OBJECTID
	FROM inserted
	
	/*** VALIDACION DE TIPO 1 = Supérgeno (label = COMPOSICION1 + ESTILO1,  RGB = TIPO) ***/
	IF @vTipo=1
	BEGIN
		IF @vComposicion1 IS NOT NULL
		BEGIN
			SELECT @vTxtComposicion1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_COM_Sup' AND CODIGO=@vComposicion1
			SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

			IF @vEstilo1 IS NOT NULL
			BEGIN
				SELECT @vTxtEstilo1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_EST' AND CODIGO=@vEstilo1
				SET @vCodLabel = @vTxtComposicion1 + '-' + @vTxtEstilo1
			END

			SET @vCodRGB = @vTxtTipo
		END
	END

	/*** VALIDACION DE TIPO 2 = Oxidos, Sulfatos y Carbonatos (label = COMPOSICION1 + ESTILO1,  RGB = TIPO) ***/
	IF @vTipo=2
	BEGIN
		IF @vComposicion1 IS NOT NULL
		BEGIN
			SELECT @vTxtComposicion1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_COM_Oxs' AND CODIGO=@vComposicion1
			SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

			IF @vEstilo1 IS NOT NULL
			BEGIN
				SELECT @vTxtEstilo1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_EST' AND CODIGO=@vEstilo1
				SET @vCodLabel = @vTxtComposicion1 + '-' + @vTxtEstilo1
			END

			SET @vCodRGB = @vTxtTipo
		END
	END
	
	/*** VALIDACION DE TIPO 3 = Mixto (label = COMPOSICION1 + ESTILO1,  RGB = TIPO) ***/
	IF @vTipo=3
	BEGIN
		IF @vComposicion1 IS NOT NULL
		BEGIN
			SELECT @vTxtComposicion1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_COM_Mix' AND CODIGO=@vComposicion1
			SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

			IF @vEstilo1 IS NOT NULL
			BEGIN
				SELECT @vTxtEstilo1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_EST' AND CODIGO=@vEstilo1
				SET @vCodLabel = @vTxtComposicion1 + '-' + @vTxtEstilo1
			END

			SET @vCodRGB = @vTxtTipo
		END
	END

	/*** VALIDACION DE TIPO 4 = Hipogeno (label = COMPOSICION1 + ESTILO1,  RGB = TIPO) ***/
	IF @vTipo=4
	BEGIN
		IF @vComposicion1 IS NOT NULL
		BEGIN
			SELECT @vTxtComposicion1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_COM_Hip' AND CODIGO=@vComposicion1
			SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

			IF @vEstilo1 IS NOT NULL
			BEGIN
				SELECT @vTxtEstilo1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_EST' AND CODIGO=@vEstilo1
				SET @vCodLabel = @vTxtComposicion1 + '-' + @vTxtEstilo1
			END

			SET @vCodRGB = @vTxtTipo
		END
	END

	/*** VALIDACION DE TIPO 5 = Sin Mineralización (label = TIPO,  RGB = TIPO) ***/
	IF @vTipo=5
	BEGIN
		SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

		SET @vCodLabel = @vTxtTipo
		SET @vCodRGB = @vTxtTipo
	END

	IF @vComposicion1 IS NOT NULL AND @vComposicion2 IS NOT NULL AND @vEstilo1 IS NOT NULL AND @vEstilo2 IS NOT NULL
	BEGIN
		IF @vComposicion1 = @vComposicion2 AND @vEstilo1 = @vEstilo2
		BEGIN
			RAISERROR('ERROR: La combinacion COMPOSICION y ESTILO no puede repetirse!',15,-1)
			ROLLBACK
			RETURN
		END
	END

	/*** VALIDACION DE TIPO 6 = Oxido de Fierro (label = COMPOSICION1 + ESTILO1,  RGB = TIPO) ***/
	IF @vTipo=6
	BEGIN
		IF @vComposicion1 IS NOT NULL
		BEGIN
			SELECT @vTxtComposicion1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_COM_OxFe' AND CODIGO=@vComposicion1
			SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

			IF @vEstilo1 IS NOT NULL
			BEGIN
				SELECT @vTxtEstilo1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_EST' AND CODIGO=@vEstilo1
				SET @vCodLabel = @vTxtComposicion1 + '-' + @vTxtEstilo1
			END

			SET @vCodRGB = @vTxtTipo
		END
	END

	/*** VALIDACION DE TIPO 7 = Oxido de Manganeso (label = COMPOSICION1 + ESTILO1,  RGB = TIPO) ***/
	IF @vTipo=7
	BEGIN
		IF @vComposicion1 IS NOT NULL
		BEGIN
			SELECT @vTxtComposicion1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_COM_OxMn' AND CODIGO=@vComposicion1
			SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

			IF @vEstilo1 IS NOT NULL
			BEGIN
				SELECT @vTxtEstilo1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_EST' AND CODIGO=@vEstilo1
				SET @vCodLabel = @vTxtComposicion1 + '-' + @vTxtEstilo1
			END

			SET @vCodRGB = @vTxtTipo
		END
	END

	/*** VALIDACION DE TIPO 8 = Sulfatos (label = COMPOSICION1 + ESTILO1,  RGB = TIPO) ***/
	IF @vTipo=8
	BEGIN
		IF @vComposicion1 IS NOT NULL
		BEGIN
			SELECT @vTxtComposicion1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_COM_Sul' AND CODIGO=@vComposicion1
			SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

			IF @vEstilo1 IS NOT NULL
			BEGIN
				SELECT @vTxtEstilo1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_EST' AND CODIGO=@vEstilo1
				SET @vCodLabel = @vTxtComposicion1 + '-' + @vTxtEstilo1
			END

			SET @vCodRGB = @vTxtTipo
		END
	END

	/*** VALIDACION DE TIPO 9 = Carbonatos (label = COMPOSICION1 + ESTILO1,  RGB = TIPO) ***/
	IF @vTipo=9
	BEGIN
		IF @vComposicion1 IS NOT NULL
		BEGIN
			SELECT @vTxtComposicion1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_COM_Car' AND CODIGO=@vComposicion1
			SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

			IF @vEstilo1 IS NOT NULL
			BEGIN
				SELECT @vTxtEstilo1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_EST' AND CODIGO=@vEstilo1
				SET @vCodLabel = @vTxtComposicion1 + '-' + @vTxtEstilo1
			END

			SET @vCodRGB = @vTxtTipo
		END
	END
	
	/*** VALIDACION DE TIPO 10 = Oxidos de Cu (label = COMPOSICION1 + ESTILO1,  RGB = TIPO) ***/
	IF @vTipo=10
	BEGIN
		IF @vComposicion1 IS NOT NULL
		BEGIN
			SELECT @vTxtComposicion1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_COM_OxCu' AND CODIGO=@vComposicion1
			SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

			IF @vEstilo1 IS NOT NULL
			BEGIN
				SELECT @vTxtEstilo1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_EST' AND CODIGO=@vEstilo1
				SET @vCodLabel = @vTxtComposicion1 + '-' + @vTxtEstilo1
			END

			SET @vCodRGB = @vTxtTipo
		END
	END
	
	IF @vCodLabel IS NOT NULL AND @vCodRGB IS NOT NULL
		UPDATE MINERALIZACION__5K SET MIN_MAP=@vCodLabel, ESTILO_RGB=@vCodRGB WHERE OBJECTID=@vObjectID
	ELSE
		UPDATE MINERALIZACION__5K SET MIN_MAP=NULL, ESTILO_RGB=NULL WHERE OBJECTID=@vObjectID
END
GO

IF EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[dbo].[TGRI_MINERALIZACION_10K]'))
	DROP TRIGGER dbo.[TGRI_MINERALIZACION_10K]
GO

/*** CREANDO TRIGGER ****/
-- =============================================
-- Author:		Marlon Leandro
-- Create date: 19/04/2017
-- Description:	Controlar registro de mapeo de MINERALIZACION
-- =============================================
CREATE TRIGGER [dbo].[TGRI_MINERALIZACION_10K]
   ON  [dbo].[MINERALIZACION_10K]
   AFTER INSERT
AS 
BEGIN	
	DECLARE @vTipo smallint, @vComposicion1 varchar(60), @vComposicion2 varchar(60), @vComposicion3 varchar(60), @vComposicion4 varchar(60), @vComposicion5 varchar(60),
			@vEstilo1 varchar(60), @vEstilo2 varchar(60), @vEstilo3 varchar(60), @vEstilo4 varchar(60), @vEstilo5 varchar(60), @vTxtTipo varchar(80), 
			@vTxtComposicion1 varchar(60), @vTxtComposicion2 varchar(60), @vTxtComposicion3 varchar(60), @vTxtComposicion4 varchar(60), @vTxtComposicion5 varchar(60),
			@vTxtEstilo1 varchar(60), @vTxtEstilo2 varchar(60), @vTxtEstilo3 varchar(60), @vTxtEstilo4 varchar(60), @vTxtEstilo5 varchar(60),
			@vCodLabel nvarchar(80), @vCodRGB nvarchar(60), @vObjectID int

	SELECT @vTipo=TIPO, @vComposicion1=COMPOSICION1, @vComposicion2=COMPOSICION2, @vComposicion3=COMPOSICION3, @vComposicion4=COMPOSICION4, @vComposicion5=COMPOSICION5, 
			@vEstilo1=ESTILO1, @vEstilo2=ESTILO2, @vEstilo3=ESTILO3, @vEstilo4=ESTILO4, @vEstilo5=ESTILO5, @vObjectID=OBJECTID
	FROM inserted
	
	/*** VALIDACION DE TIPO 1 = Supérgeno (label = COMPOSICION1 + ESTILO1,  RGB = TIPO) ***/
	IF @vTipo=1
	BEGIN
		IF @vComposicion1 IS NOT NULL
		BEGIN
			SELECT @vTxtComposicion1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_COM_Sup' AND CODIGO=@vComposicion1
			SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

			IF @vEstilo1 IS NOT NULL
			BEGIN
				SELECT @vTxtEstilo1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_EST' AND CODIGO=@vEstilo1
				SET @vCodLabel = @vTxtComposicion1 + '-' + @vTxtEstilo1
			END

			SET @vCodRGB = @vTxtTipo
		END
	END

	/*** VALIDACION DE TIPO 2 = Oxidos, Sulfatos y Carbonatos (label = COMPOSICION1 + ESTILO1,  RGB = TIPO) ***/
	IF @vTipo=2
	BEGIN
		IF @vComposicion1 IS NOT NULL
		BEGIN
			SELECT @vTxtComposicion1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_COM_Oxs' AND CODIGO=@vComposicion1
			SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

			IF @vEstilo1 IS NOT NULL
			BEGIN
				SELECT @vTxtEstilo1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_EST' AND CODIGO=@vEstilo1
				SET @vCodLabel = @vTxtComposicion1 + '-' + @vTxtEstilo1
			END

			SET @vCodRGB = @vTxtTipo
		END
	END
	
	/*** VALIDACION DE TIPO 3 = Mixto (label = COMPOSICION1 + ESTILO1,  RGB = TIPO) ***/
	IF @vTipo=3
	BEGIN
		IF @vComposicion1 IS NOT NULL
		BEGIN
			SELECT @vTxtComposicion1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_COM_Mix' AND CODIGO=@vComposicion1
			SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

			IF @vEstilo1 IS NOT NULL
			BEGIN
				SELECT @vTxtEstilo1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_EST' AND CODIGO=@vEstilo1
				SET @vCodLabel = @vTxtComposicion1 + '-' + @vTxtEstilo1
			END

			SET @vCodRGB = @vTxtTipo
		END
	END

	/*** VALIDACION DE TIPO 4 = Hipogeno (label = COMPOSICION1 + ESTILO1,  RGB = TIPO) ***/
	IF @vTipo=4
	BEGIN
		IF @vComposicion1 IS NOT NULL
		BEGIN
			SELECT @vTxtComposicion1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_COM_Hip' AND CODIGO=@vComposicion1
			SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

			IF @vEstilo1 IS NOT NULL
			BEGIN
				SELECT @vTxtEstilo1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_EST' AND CODIGO=@vEstilo1
				SET @vCodLabel = @vTxtComposicion1 + '-' + @vTxtEstilo1
			END

			SET @vCodRGB = @vTxtTipo
		END
	END

	/*** VALIDACION DE TIPO 5 = Sin Mineralización (label = TIPO,  RGB = TIPO) ***/
	IF @vTipo=5
	BEGIN
		SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

		SET @vCodLabel = @vTxtTipo
		SET @vCodRGB = @vTxtTipo
	END

	IF @vComposicion1 IS NOT NULL AND @vComposicion2 IS NOT NULL AND @vEstilo1 IS NOT NULL AND @vEstilo2 IS NOT NULL
	BEGIN
		IF @vComposicion1 = @vComposicion2 AND @vEstilo1 = @vEstilo2
		BEGIN
			RAISERROR('ERROR: La combinacion COMPOSICION y ESTILO no puede repetirse!',15,-1)
			ROLLBACK
			RETURN
		END
	END

	/*** VALIDACION DE TIPO 6 = Oxido de Fierro (label = COMPOSICION1 + ESTILO1,  RGB = TIPO) ***/
	IF @vTipo=6
	BEGIN
		IF @vComposicion1 IS NOT NULL
		BEGIN
			SELECT @vTxtComposicion1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_COM_OxFe' AND CODIGO=@vComposicion1
			SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

			IF @vEstilo1 IS NOT NULL
			BEGIN
				SELECT @vTxtEstilo1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_EST' AND CODIGO=@vEstilo1
				SET @vCodLabel = @vTxtComposicion1 + '-' + @vTxtEstilo1
			END

			SET @vCodRGB = @vTxtTipo
		END
	END

	/*** VALIDACION DE TIPO 7 = Oxido de Manganeso (label = COMPOSICION1 + ESTILO1,  RGB = TIPO) ***/
	IF @vTipo=7
	BEGIN
		IF @vComposicion1 IS NOT NULL
		BEGIN
			SELECT @vTxtComposicion1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_COM_OxMn' AND CODIGO=@vComposicion1
			SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

			IF @vEstilo1 IS NOT NULL
			BEGIN
				SELECT @vTxtEstilo1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_EST' AND CODIGO=@vEstilo1
				SET @vCodLabel = @vTxtComposicion1 + '-' + @vTxtEstilo1
			END

			SET @vCodRGB = @vTxtTipo
		END
	END

	/*** VALIDACION DE TIPO 8 = Sulfatos (label = COMPOSICION1 + ESTILO1,  RGB = TIPO) ***/
	IF @vTipo=8
	BEGIN
		IF @vComposicion1 IS NOT NULL
		BEGIN
			SELECT @vTxtComposicion1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_COM_Sul' AND CODIGO=@vComposicion1
			SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

			IF @vEstilo1 IS NOT NULL
			BEGIN
				SELECT @vTxtEstilo1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_EST' AND CODIGO=@vEstilo1
				SET @vCodLabel = @vTxtComposicion1 + '-' + @vTxtEstilo1
			END

			SET @vCodRGB = @vTxtTipo
		END
	END

	/*** VALIDACION DE TIPO 9 = Carbonatos (label = COMPOSICION1 + ESTILO1,  RGB = TIPO) ***/
	IF @vTipo=9
	BEGIN
		IF @vComposicion1 IS NOT NULL
		BEGIN
			SELECT @vTxtComposicion1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_COM_Car' AND CODIGO=@vComposicion1
			SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

			IF @vEstilo1 IS NOT NULL
			BEGIN
				SELECT @vTxtEstilo1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_EST' AND CODIGO=@vEstilo1
				SET @vCodLabel = @vTxtComposicion1 + '-' + @vTxtEstilo1
			END

			SET @vCodRGB = @vTxtTipo
		END
	END
	
	/*** VALIDACION DE TIPO 10 = Oxidos de Cu (label = COMPOSICION1 + ESTILO1,  RGB = TIPO) ***/
	IF @vTipo=10
	BEGIN
		IF @vComposicion1 IS NOT NULL
		BEGIN
			SELECT @vTxtComposicion1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_COM_OxCu' AND CODIGO=@vComposicion1
			SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

			IF @vEstilo1 IS NOT NULL
			BEGIN
				SELECT @vTxtEstilo1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_EST' AND CODIGO=@vEstilo1
				SET @vCodLabel = @vTxtComposicion1 + '-' + @vTxtEstilo1
			END

			SET @vCodRGB = @vTxtTipo
		END
	END
	
	IF @vCodLabel IS NOT NULL AND @vCodRGB IS NOT NULL
		UPDATE MINERALIZACION_10K SET MIN_MAP=@vCodLabel, ESTILO_RGB=@vCodRGB WHERE OBJECTID=@vObjectID
	ELSE
		UPDATE MINERALIZACION_10K SET MIN_MAP=NULL, ESTILO_RGB=NULL WHERE OBJECTID=@vObjectID
END
GO

IF EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[dbo].[TGRI_MINERALIZACION_25K]'))
	DROP TRIGGER dbo.[TGRI_MINERALIZACION_25K]
GO

/*** CREANDO TRIGGER ****/
-- =============================================
-- Author:		Marlon Leandro
-- Create date: 19/04/2017
-- Description:	Controlar registro de mapeo de MINERALIZACION
-- =============================================
CREATE TRIGGER [dbo].[TGRI_MINERALIZACION_25K]
   ON  [dbo].[MINERALIZACION_25K]
   AFTER INSERT
AS 
BEGIN	
	DECLARE @vTipo smallint, @vComposicion1 varchar(60), @vComposicion2 varchar(60), @vComposicion3 varchar(60), @vComposicion4 varchar(60), @vComposicion5 varchar(60),
			@vEstilo1 varchar(60), @vEstilo2 varchar(60), @vEstilo3 varchar(60), @vEstilo4 varchar(60), @vEstilo5 varchar(60), @vTxtTipo varchar(80), 
			@vTxtComposicion1 varchar(60), @vTxtComposicion2 varchar(60), @vTxtComposicion3 varchar(60), @vTxtComposicion4 varchar(60), @vTxtComposicion5 varchar(60),
			@vTxtEstilo1 varchar(60), @vTxtEstilo2 varchar(60), @vTxtEstilo3 varchar(60), @vTxtEstilo4 varchar(60), @vTxtEstilo5 varchar(60),
			@vCodLabel nvarchar(80), @vCodRGB nvarchar(60), @vObjectID int

	SELECT @vTipo=TIPO, @vComposicion1=COMPOSICION1, @vComposicion2=COMPOSICION2, @vComposicion3=COMPOSICION3, @vComposicion4=COMPOSICION4, @vComposicion5=COMPOSICION5, 
			@vEstilo1=ESTILO1, @vEstilo2=ESTILO2, @vEstilo3=ESTILO3, @vEstilo4=ESTILO4, @vEstilo5=ESTILO5, @vObjectID=OBJECTID
	FROM inserted
	
	/*** VALIDACION DE TIPO 1 = Supérgeno (label = COMPOSICION1 + ESTILO1,  RGB = TIPO) ***/
	IF @vTipo=1
	BEGIN
		IF @vComposicion1 IS NOT NULL
		BEGIN
			SELECT @vTxtComposicion1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_COM_Sup' AND CODIGO=@vComposicion1
			SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

			IF @vEstilo1 IS NOT NULL
			BEGIN
				SELECT @vTxtEstilo1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_EST' AND CODIGO=@vEstilo1
				SET @vCodLabel = @vTxtComposicion1 + '-' + @vTxtEstilo1
			END

			SET @vCodRGB = @vTxtTipo
		END
	END

	/*** VALIDACION DE TIPO 2 = Oxidos, Sulfatos y Carbonatos (label = COMPOSICION1 + ESTILO1,  RGB = TIPO) ***/
	IF @vTipo=2
	BEGIN
		IF @vComposicion1 IS NOT NULL
		BEGIN
			SELECT @vTxtComposicion1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_COM_Oxs' AND CODIGO=@vComposicion1
			SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

			IF @vEstilo1 IS NOT NULL
			BEGIN
				SELECT @vTxtEstilo1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_EST' AND CODIGO=@vEstilo1
				SET @vCodLabel = @vTxtComposicion1 + '-' + @vTxtEstilo1
			END

			SET @vCodRGB = @vTxtTipo
		END
	END
	
	/*** VALIDACION DE TIPO 3 = Mixto (label = COMPOSICION1 + ESTILO1,  RGB = TIPO) ***/
	IF @vTipo=3
	BEGIN
		IF @vComposicion1 IS NOT NULL
		BEGIN
			SELECT @vTxtComposicion1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_COM_Mix' AND CODIGO=@vComposicion1
			SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

			IF @vEstilo1 IS NOT NULL
			BEGIN
				SELECT @vTxtEstilo1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_EST' AND CODIGO=@vEstilo1
				SET @vCodLabel = @vTxtComposicion1 + '-' + @vTxtEstilo1
			END

			SET @vCodRGB = @vTxtTipo
		END
	END

	/*** VALIDACION DE TIPO 4 = Hipogeno (label = COMPOSICION1 + ESTILO1,  RGB = TIPO) ***/
	IF @vTipo=4
	BEGIN
		IF @vComposicion1 IS NOT NULL
		BEGIN
			SELECT @vTxtComposicion1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_COM_Hip' AND CODIGO=@vComposicion1
			SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

			IF @vEstilo1 IS NOT NULL
			BEGIN
				SELECT @vTxtEstilo1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_EST' AND CODIGO=@vEstilo1
				SET @vCodLabel = @vTxtComposicion1 + '-' + @vTxtEstilo1
			END

			SET @vCodRGB = @vTxtTipo
		END
	END

	/*** VALIDACION DE TIPO 5 = Sin Mineralización (label = TIPO,  RGB = TIPO) ***/
	IF @vTipo=5
	BEGIN
		SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

		SET @vCodLabel = @vTxtTipo
		SET @vCodRGB = @vTxtTipo
	END

	IF @vComposicion1 IS NOT NULL AND @vComposicion2 IS NOT NULL AND @vEstilo1 IS NOT NULL AND @vEstilo2 IS NOT NULL
	BEGIN
		IF @vComposicion1 = @vComposicion2 AND @vEstilo1 = @vEstilo2
		BEGIN
			RAISERROR('ERROR: La combinacion COMPOSICION y ESTILO no puede repetirse!',15,-1)
			ROLLBACK
			RETURN
		END
	END

	/*** VALIDACION DE TIPO 6 = Oxido de Fierro (label = COMPOSICION1 + ESTILO1,  RGB = TIPO) ***/
	IF @vTipo=6
	BEGIN
		IF @vComposicion1 IS NOT NULL
		BEGIN
			SELECT @vTxtComposicion1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_COM_OxFe' AND CODIGO=@vComposicion1
			SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

			IF @vEstilo1 IS NOT NULL
			BEGIN
				SELECT @vTxtEstilo1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_EST' AND CODIGO=@vEstilo1
				SET @vCodLabel = @vTxtComposicion1 + '-' + @vTxtEstilo1
			END

			SET @vCodRGB = @vTxtTipo
		END
	END

	/*** VALIDACION DE TIPO 7 = Oxido de Manganeso (label = COMPOSICION1 + ESTILO1,  RGB = TIPO) ***/
	IF @vTipo=7
	BEGIN
		IF @vComposicion1 IS NOT NULL
		BEGIN
			SELECT @vTxtComposicion1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_COM_OxMn' AND CODIGO=@vComposicion1
			SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

			IF @vEstilo1 IS NOT NULL
			BEGIN
				SELECT @vTxtEstilo1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_EST' AND CODIGO=@vEstilo1
				SET @vCodLabel = @vTxtComposicion1 + '-' + @vTxtEstilo1
			END

			SET @vCodRGB = @vTxtTipo
		END
	END

	/*** VALIDACION DE TIPO 8 = Sulfatos (label = COMPOSICION1 + ESTILO1,  RGB = TIPO) ***/
	IF @vTipo=8
	BEGIN
		IF @vComposicion1 IS NOT NULL
		BEGIN
			SELECT @vTxtComposicion1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_COM_Sul' AND CODIGO=@vComposicion1
			SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

			IF @vEstilo1 IS NOT NULL
			BEGIN
				SELECT @vTxtEstilo1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_EST' AND CODIGO=@vEstilo1
				SET @vCodLabel = @vTxtComposicion1 + '-' + @vTxtEstilo1
			END

			SET @vCodRGB = @vTxtTipo
		END
	END

	/*** VALIDACION DE TIPO 9 = Carbonatos (label = COMPOSICION1 + ESTILO1,  RGB = TIPO) ***/
	IF @vTipo=9
	BEGIN
		IF @vComposicion1 IS NOT NULL
		BEGIN
			SELECT @vTxtComposicion1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_COM_Car' AND CODIGO=@vComposicion1
			SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

			IF @vEstilo1 IS NOT NULL
			BEGIN
				SELECT @vTxtEstilo1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_EST' AND CODIGO=@vEstilo1
				SET @vCodLabel = @vTxtComposicion1 + '-' + @vTxtEstilo1
			END

			SET @vCodRGB = @vTxtTipo
		END
	END
	
	/*** VALIDACION DE TIPO 10 = Oxidos de Cu (label = COMPOSICION1 + ESTILO1,  RGB = TIPO) ***/
	IF @vTipo=10
	BEGIN
		IF @vComposicion1 IS NOT NULL
		BEGIN
			SELECT @vTxtComposicion1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_COM_OxCu' AND CODIGO=@vComposicion1
			SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

			IF @vEstilo1 IS NOT NULL
			BEGIN
				SELECT @vTxtEstilo1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_EST' AND CODIGO=@vEstilo1
				SET @vCodLabel = @vTxtComposicion1 + '-' + @vTxtEstilo1
			END

			SET @vCodRGB = @vTxtTipo
		END
	END
	
	IF @vCodLabel IS NOT NULL AND @vCodRGB IS NOT NULL
		UPDATE MINERALIZACION_25K SET MIN_MAP=@vCodLabel, ESTILO_RGB=@vCodRGB WHERE OBJECTID=@vObjectID
	ELSE
		UPDATE MINERALIZACION_25K SET MIN_MAP=NULL, ESTILO_RGB=NULL WHERE OBJECTID=@vObjectID
END
GO

IF EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[dbo].[TGRI_MINERALIZACION_50K]'))
	DROP TRIGGER dbo.[TGRI_MINERALIZACION_50K]
GO

/*** CREANDO TRIGGER ****/
-- =============================================
-- Author:		Marlon Leandro
-- Create date: 19/04/2017
-- Description:	Controlar registro de mapeo de MINERALIZACION
-- =============================================
CREATE TRIGGER [dbo].[TGRI_MINERALIZACION_50K]
   ON  [dbo].[MINERALIZACION_50K]
   AFTER INSERT
AS 
BEGIN	
	DECLARE @vTipo smallint, @vComposicion1 varchar(60), @vComposicion2 varchar(60), @vComposicion3 varchar(60), @vComposicion4 varchar(60), @vComposicion5 varchar(60),
			@vEstilo1 varchar(60), @vEstilo2 varchar(60), @vEstilo3 varchar(60), @vEstilo4 varchar(60), @vEstilo5 varchar(60), @vTxtTipo varchar(80), 
			@vTxtComposicion1 varchar(60), @vTxtComposicion2 varchar(60), @vTxtComposicion3 varchar(60), @vTxtComposicion4 varchar(60), @vTxtComposicion5 varchar(60),
			@vTxtEstilo1 varchar(60), @vTxtEstilo2 varchar(60), @vTxtEstilo3 varchar(60), @vTxtEstilo4 varchar(60), @vTxtEstilo5 varchar(60),
			@vCodLabel nvarchar(80), @vCodRGB nvarchar(60), @vObjectID int

	SELECT @vTipo=TIPO, @vComposicion1=COMPOSICION1, @vComposicion2=COMPOSICION2, @vComposicion3=COMPOSICION3, @vComposicion4=COMPOSICION4, @vComposicion5=COMPOSICION5, 
			@vEstilo1=ESTILO1, @vEstilo2=ESTILO2, @vEstilo3=ESTILO3, @vEstilo4=ESTILO4, @vEstilo5=ESTILO5, @vObjectID=OBJECTID
	FROM inserted
	
	/*** VALIDACION DE TIPO 1 = Supérgeno (label = COMPOSICION1 + ESTILO1,  RGB = TIPO) ***/
	IF @vTipo=1
	BEGIN
		IF @vComposicion1 IS NOT NULL
		BEGIN
			SELECT @vTxtComposicion1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_COM_Sup' AND CODIGO=@vComposicion1
			SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

			IF @vEstilo1 IS NOT NULL
			BEGIN
				SELECT @vTxtEstilo1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_EST' AND CODIGO=@vEstilo1
				SET @vCodLabel = @vTxtComposicion1 + '-' + @vTxtEstilo1
			END

			SET @vCodRGB = @vTxtTipo
		END
	END

	/*** VALIDACION DE TIPO 2 = Oxidos, Sulfatos y Carbonatos (label = COMPOSICION1 + ESTILO1,  RGB = TIPO) ***/
	IF @vTipo=2
	BEGIN
		IF @vComposicion1 IS NOT NULL
		BEGIN
			SELECT @vTxtComposicion1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_COM_Oxs' AND CODIGO=@vComposicion1
			SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

			IF @vEstilo1 IS NOT NULL
			BEGIN
				SELECT @vTxtEstilo1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_EST' AND CODIGO=@vEstilo1
				SET @vCodLabel = @vTxtComposicion1 + '-' + @vTxtEstilo1
			END

			SET @vCodRGB = @vTxtTipo
		END
	END
	
	/*** VALIDACION DE TIPO 3 = Mixto (label = COMPOSICION1 + ESTILO1,  RGB = TIPO) ***/
	IF @vTipo=3
	BEGIN
		IF @vComposicion1 IS NOT NULL
		BEGIN
			SELECT @vTxtComposicion1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_COM_Mix' AND CODIGO=@vComposicion1
			SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

			IF @vEstilo1 IS NOT NULL
			BEGIN
				SELECT @vTxtEstilo1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_EST' AND CODIGO=@vEstilo1
				SET @vCodLabel = @vTxtComposicion1 + '-' + @vTxtEstilo1
			END

			SET @vCodRGB = @vTxtTipo
		END
	END

	/*** VALIDACION DE TIPO 4 = Hipogeno (label = COMPOSICION1 + ESTILO1,  RGB = TIPO) ***/
	IF @vTipo=4
	BEGIN
		IF @vComposicion1 IS NOT NULL
		BEGIN
			SELECT @vTxtComposicion1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_COM_Hip' AND CODIGO=@vComposicion1
			SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

			IF @vEstilo1 IS NOT NULL
			BEGIN
				SELECT @vTxtEstilo1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_EST' AND CODIGO=@vEstilo1
				SET @vCodLabel = @vTxtComposicion1 + '-' + @vTxtEstilo1
			END

			SET @vCodRGB = @vTxtTipo
		END
	END

	/*** VALIDACION DE TIPO 5 = Sin Mineralización (label = TIPO,  RGB = TIPO) ***/
	IF @vTipo=5
	BEGIN
		SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

		SET @vCodLabel = @vTxtTipo
		SET @vCodRGB = @vTxtTipo
	END

	IF @vComposicion1 IS NOT NULL AND @vComposicion2 IS NOT NULL AND @vEstilo1 IS NOT NULL AND @vEstilo2 IS NOT NULL
	BEGIN
		IF @vComposicion1 = @vComposicion2 AND @vEstilo1 = @vEstilo2
		BEGIN
			RAISERROR('ERROR: La combinacion COMPOSICION y ESTILO no puede repetirse!',15,-1)
			ROLLBACK
			RETURN
		END
	END

	/*** VALIDACION DE TIPO 6 = Oxido de Fierro (label = COMPOSICION1 + ESTILO1,  RGB = TIPO) ***/
	IF @vTipo=6
	BEGIN
		IF @vComposicion1 IS NOT NULL
		BEGIN
			SELECT @vTxtComposicion1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_COM_OxFe' AND CODIGO=@vComposicion1
			SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

			IF @vEstilo1 IS NOT NULL
			BEGIN
				SELECT @vTxtEstilo1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_EST' AND CODIGO=@vEstilo1
				SET @vCodLabel = @vTxtComposicion1 + '-' + @vTxtEstilo1
			END

			SET @vCodRGB = @vTxtTipo
		END
	END

	/*** VALIDACION DE TIPO 7 = Oxido de Manganeso (label = COMPOSICION1 + ESTILO1,  RGB = TIPO) ***/
	IF @vTipo=7
	BEGIN
		IF @vComposicion1 IS NOT NULL
		BEGIN
			SELECT @vTxtComposicion1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_COM_OxMn' AND CODIGO=@vComposicion1
			SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

			IF @vEstilo1 IS NOT NULL
			BEGIN
				SELECT @vTxtEstilo1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_EST' AND CODIGO=@vEstilo1
				SET @vCodLabel = @vTxtComposicion1 + '-' + @vTxtEstilo1
			END

			SET @vCodRGB = @vTxtTipo
		END
	END

	/*** VALIDACION DE TIPO 8 = Sulfatos (label = COMPOSICION1 + ESTILO1,  RGB = TIPO) ***/
	IF @vTipo=8
	BEGIN
		IF @vComposicion1 IS NOT NULL
		BEGIN
			SELECT @vTxtComposicion1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_COM_Sul' AND CODIGO=@vComposicion1
			SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

			IF @vEstilo1 IS NOT NULL
			BEGIN
				SELECT @vTxtEstilo1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_EST' AND CODIGO=@vEstilo1
				SET @vCodLabel = @vTxtComposicion1 + '-' + @vTxtEstilo1
			END

			SET @vCodRGB = @vTxtTipo
		END
	END

	/*** VALIDACION DE TIPO 9 = Carbonatos (label = COMPOSICION1 + ESTILO1,  RGB = TIPO) ***/
	IF @vTipo=9
	BEGIN
		IF @vComposicion1 IS NOT NULL
		BEGIN
			SELECT @vTxtComposicion1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_COM_Car' AND CODIGO=@vComposicion1
			SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

			IF @vEstilo1 IS NOT NULL
			BEGIN
				SELECT @vTxtEstilo1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_EST' AND CODIGO=@vEstilo1
				SET @vCodLabel = @vTxtComposicion1 + '-' + @vTxtEstilo1
			END

			SET @vCodRGB = @vTxtTipo
		END
	END
	
	/*** VALIDACION DE TIPO 10 = Oxidos de Cu (label = COMPOSICION1 + ESTILO1,  RGB = TIPO) ***/
	IF @vTipo=10
	BEGIN
		IF @vComposicion1 IS NOT NULL
		BEGIN
			SELECT @vTxtComposicion1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_COM_OxCu' AND CODIGO=@vComposicion1
			SELECT @vTxtTipo=TIPO FROM MINERALIZACIONCODE WHERE CodTIPO=@vTipo GROUP BY CodTIPO, TIPO

			IF @vEstilo1 IS NOT NULL
			BEGIN
				SELECT @vTxtEstilo1=NOMBRE FROM MINERALIZACIONCODE WHERE CODTIPO=@vTipo AND DOMINIO='DOM_MIN_EST' AND CODIGO=@vEstilo1
				SET @vCodLabel = @vTxtComposicion1 + '-' + @vTxtEstilo1
			END

			SET @vCodRGB = @vTxtTipo
		END
	END
	
	IF @vCodLabel IS NOT NULL AND @vCodRGB IS NOT NULL
		UPDATE MINERALIZACION_50K SET MIN_MAP=@vCodLabel, ESTILO_RGB=@vCodRGB WHERE OBJECTID=@vObjectID
	ELSE
		UPDATE MINERALIZACION_50K SET MIN_MAP=NULL, ESTILO_RGB=NULL WHERE OBJECTID=@vObjectID
END