USE PLANTILLA_v13
GO

IF EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[dbo].[TGRU_ALTERACION__1K]'))
	DROP TRIGGER dbo.[TGRU_ALTERACION__1K]
GO

/*** CREANDO TRIGGER ****/
-- =============================================
-- Author:		Marlon Leandro & Exploraciones GIS
-- Create date: 12/04/2017 Modificate:01/03/2020
-- Description:	Controlar registro de mapeo de ALTERACION
-- =============================================
CREATE TRIGGER [dbo].[TGRU_ALTERACION__1K]
   ON  [dbo].[ALTERACION__1K]
   AFTER UPDATE
AS 
BEGIN	
	DECLARE @vMineral1 varchar(60), @vMineral2 varchar(60), @vMineral3 varchar(60), @vMineral4 varchar(60), @vMineral5 varchar(60), 
			@vIntensidad1 varchar(60), @vIntensidad2 varchar(60), @vIntensidad3 varchar(60), @vIntensidad4 varchar(60), @vIntensidad5 varchar(60),
			@vEstilo1 varchar(60), @vEstilo2 varchar(60), @vEstilo3 varchar(60), @vEstilo4 varchar(60), @vEstilo5 varchar(60), @vCodLabel nvarchar(80), @vCodRGB nvarchar(80),
			@vTxtMineral1 nvarchar(120), @vTxtEstilo1 nvarchar(120), @vTxtMineral2 nvarchar(120), @vObjectID int,
			@vTipo smallint

	SELECT @vMineral1=MINERAL1, @vMineral2=MINERAL2, @vMineral3=MINERAL3, @vMineral4=MINERAL4, @vMineral5=MINERAL5, 
			@vIntensidad1=INTENSIDAD1, @vIntensidad2=INTENSIDAD2,@vIntensidad3=INTENSIDAD3, @vIntensidad4=INTENSIDAD4, @vIntensidad5=INTENSIDAD5,
			@vEstilo1=ESTILO1, @vEstilo2=ESTILO2, @vEstilo3=ESTILO3, @vEstilo4=ESTILO4, @vEstilo5=ESTILO5, @vObjectID=OBJECTID, @vTipo=TIPO
	FROM inserted
	
	IF @vTipo = 1
	BEGIN	
		/*** OBTENER ETIQUETA ***/
		SELECT @vTxtMineral1=NOMBRE FROM ALTERACIONCODE WHERE CODIGO=@vMineral1 AND DOMINIO='DOM_ALT_MIN'
		IF @vMineral2 IS NOT NULL AND @vMineral2<>'none'
		BEGIN
			SELECT @vTxtMineral2=NOMBRE FROM ALTERACIONCODE WHERE CODIGO=@vMineral2 AND DOMINIO='DOM_ALT_MIN'
			SET @vCodLabel = @vTxtMineral1 + '-' + @vTxtMineral2
		END
		ELSE
			SET @vCodLabel = @vTxtMineral1

		/*** OBTENER ESTILO ***/
		IF @vMineral1 = 'Sil'
		BEGIN
			SELECT @vTxtEstilo1=NOMBRE FROM ALTERACIONCODE WHERE CODIGO=@vEstilo1 AND DOMINIO='DOM_ALT_EST'
			IF @vEstilo1 = 'Vuggy' OR @vEstilo1 = 'gran' OR @vEstilo1 = 'Mass'
				SET @vCodRGB = @vTxtMineral1 + '-' + @vTxtEstilo1
			ELSE
				SET @vCodRGB = @vTxtMineral1
		END
		ELSE
			SET @vCodRGB = @vTxtMineral1

		IF @vMineral1 IS NOT NULL AND @vMineral2 IS NOT NULL AND @vEstilo1 IS NOT NULL AND @vEstilo2 IS NOT NULL
		BEGIN
			IF @vMineral1 = @vMineral2 AND @vEstilo1 = @vEstilo2
			BEGIN
				RAISERROR('ERROR: La combinacion MINERAL y ESTILO no puede repetirse!',15,-1)
				ROLLBACK
				RETURN
			END
		END
	END
	
	IF @vTipo = 2
	BEGIN
		SET @vCodRGB = 'Sin Alteración'
		SET @vCodLabel = 'Sin Alteración'
	END

	IF @vCodLabel IS NOT NULL AND @vCodRGB IS NOT NULL
		UPDATE ALTERACION__1K SET ALT_MAP=@vCodLabel, ESTILO_RGB=@vCodRGB WHERE OBJECTID=@vObjectID
	ELSE
		UPDATE ALTERACION__1K SET ALT_MAP=NULL, ESTILO_RGB=NULL WHERE OBJECTID=@vObjectID
END
GO

IF EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[dbo].[TGRU_ALTERACION__2K]'))
	DROP TRIGGER dbo.[TGRU_ALTERACION__2K]
GO

/*** CREANDO TRIGGER ****/
-- =============================================
-- Author:		Marlon Leandro & Exploraciones GIS
-- Create date: 12/04/2017 Modificate:01/03/2020
-- Description:	Controlar registro de mapeo de ALTERACION
-- =============================================
CREATE TRIGGER [dbo].[TGRU_ALTERACION__2K]
   ON  [dbo].[ALTERACION__2K]
   AFTER UPDATE
AS 
BEGIN	
	DECLARE @vMineral1 varchar(60), @vMineral2 varchar(60), @vMineral3 varchar(60), @vMineral4 varchar(60), @vMineral5 varchar(60), 
			@vIntensidad1 varchar(60), @vIntensidad2 varchar(60), @vIntensidad3 varchar(60), @vIntensidad4 varchar(60), @vIntensidad5 varchar(60),
			@vEstilo1 varchar(60), @vEstilo2 varchar(60), @vEstilo3 varchar(60), @vEstilo4 varchar(60), @vEstilo5 varchar(60), @vCodLabel nvarchar(80), @vCodRGB nvarchar(80),
			@vTxtMineral1 nvarchar(120), @vTxtEstilo1 nvarchar(120), @vTxtMineral2 nvarchar(120), @vObjectID int,
			@vTipo smallint

	SELECT @vMineral1=MINERAL1, @vMineral2=MINERAL2, @vMineral3=MINERAL3, @vMineral4=MINERAL4, @vMineral5=MINERAL5, 
			@vIntensidad1=INTENSIDAD1, @vIntensidad2=INTENSIDAD2,@vIntensidad3=INTENSIDAD3, @vIntensidad4=INTENSIDAD4, @vIntensidad5=INTENSIDAD5,
			@vEstilo1=ESTILO1, @vEstilo2=ESTILO2, @vEstilo3=ESTILO3, @vEstilo4=ESTILO4, @vEstilo5=ESTILO5, @vObjectID=OBJECTID, @vTipo=TIPO
	FROM inserted
	
	IF @vTipo = 1
	BEGIN	
		/*** OBTENER ETIQUETA ***/
		SELECT @vTxtMineral1=NOMBRE FROM ALTERACIONCODE WHERE CODIGO=@vMineral1 AND DOMINIO='DOM_ALT_MIN'
		IF @vMineral2 IS NOT NULL AND @vMineral2<>'none'
		BEGIN
			SELECT @vTxtMineral2=NOMBRE FROM ALTERACIONCODE WHERE CODIGO=@vMineral2 AND DOMINIO='DOM_ALT_MIN'
			SET @vCodLabel = @vTxtMineral1 + '-' + @vTxtMineral2
		END
		ELSE
			SET @vCodLabel = @vTxtMineral1

		/*** OBTENER ESTILO ***/
		IF @vMineral1 = 'Sil'
		BEGIN
			SELECT @vTxtEstilo1=NOMBRE FROM ALTERACIONCODE WHERE CODIGO=@vEstilo1 AND DOMINIO='DOM_ALT_EST'
			IF @vEstilo1 = 'Vuggy' OR @vEstilo1 = 'gran' OR @vEstilo1 = 'Mass'
				SET @vCodRGB = @vTxtMineral1 + '-' + @vTxtEstilo1
			ELSE
				SET @vCodRGB = @vTxtMineral1
		END
		ELSE
			SET @vCodRGB = @vTxtMineral1

		IF @vMineral1 IS NOT NULL AND @vMineral2 IS NOT NULL AND @vEstilo1 IS NOT NULL AND @vEstilo2 IS NOT NULL
		BEGIN
			IF @vMineral1 = @vMineral2 AND @vEstilo1 = @vEstilo2
			BEGIN
				RAISERROR('ERROR: La combinacion MINERAL y ESTILO no puede repetirse!',15,-1)
				ROLLBACK
				RETURN
			END
		END
	END
	
	IF @vTipo = 2
	BEGIN
		SET @vCodRGB = 'Sin Alteración'
		SET @vCodLabel = 'Sin Alteración'
	END

	IF @vCodLabel IS NOT NULL AND @vCodRGB IS NOT NULL
		UPDATE ALTERACION__2K SET ALT_MAP=@vCodLabel, ESTILO_RGB=@vCodRGB WHERE OBJECTID=@vObjectID
	ELSE
		UPDATE ALTERACION__2K SET ALT_MAP=NULL, ESTILO_RGB=NULL WHERE OBJECTID=@vObjectID
END
GO

IF EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[dbo].[TGRU_ALTERACION__5K]'))
	DROP TRIGGER dbo.[TGRU_ALTERACION__5K]
GO

/*** CREANDO TRIGGER ****/
-- =============================================
-- Author:		Marlon Leandro & Exploraciones GIS
-- Create date: 12/04/2017 Modificate:01/03/2020
-- Description:	Controlar registro de mapeo de ALTERACION
-- =============================================
CREATE TRIGGER [dbo].[TGRU_ALTERACION__5K]
   ON  [dbo].[ALTERACION__5K]
   AFTER UPDATE
AS 
BEGIN	
	DECLARE @vMineral1 varchar(60), @vMineral2 varchar(60), @vMineral3 varchar(60), @vMineral4 varchar(60), @vMineral5 varchar(60), 
			@vIntensidad1 varchar(60), @vIntensidad2 varchar(60), @vIntensidad3 varchar(60), @vIntensidad4 varchar(60), @vIntensidad5 varchar(60),
			@vEstilo1 varchar(60), @vEstilo2 varchar(60), @vEstilo3 varchar(60), @vEstilo4 varchar(60), @vEstilo5 varchar(60), @vCodLabel nvarchar(80), @vCodRGB nvarchar(80),
			@vTxtMineral1 nvarchar(120), @vTxtEstilo1 nvarchar(120), @vTxtMineral2 nvarchar(120), @vObjectID int,
			@vTipo smallint

	SELECT @vMineral1=MINERAL1, @vMineral2=MINERAL2, @vMineral3=MINERAL3, @vMineral4=MINERAL4, @vMineral5=MINERAL5, 
			@vIntensidad1=INTENSIDAD1, @vIntensidad2=INTENSIDAD2,@vIntensidad3=INTENSIDAD3, @vIntensidad4=INTENSIDAD4, @vIntensidad5=INTENSIDAD5,
			@vEstilo1=ESTILO1, @vEstilo2=ESTILO2, @vEstilo3=ESTILO3, @vEstilo4=ESTILO4, @vEstilo5=ESTILO5, @vObjectID=OBJECTID, @vTipo=TIPO
	FROM inserted
	
	IF @vTipo = 1
	BEGIN	
		/*** OBTENER ETIQUETA ***/
		SELECT @vTxtMineral1=NOMBRE FROM ALTERACIONCODE WHERE CODIGO=@vMineral1 AND DOMINIO='DOM_ALT_MIN'
		IF @vMineral2 IS NOT NULL AND @vMineral2<>'none'
		BEGIN
			SELECT @vTxtMineral2=NOMBRE FROM ALTERACIONCODE WHERE CODIGO=@vMineral2 AND DOMINIO='DOM_ALT_MIN'
			SET @vCodLabel = @vTxtMineral1 + '-' + @vTxtMineral2
		END
		ELSE
			SET @vCodLabel = @vTxtMineral1

		/*** OBTENER ESTILO ***/
		IF @vMineral1 = 'Sil'
		BEGIN
			SELECT @vTxtEstilo1=NOMBRE FROM ALTERACIONCODE WHERE CODIGO=@vEstilo1 AND DOMINIO='DOM_ALT_EST'
			IF @vEstilo1 = 'Vuggy' OR @vEstilo1 = 'gran' OR @vEstilo1 = 'Mass'
				SET @vCodRGB = @vTxtMineral1 + '-' + @vTxtEstilo1
			ELSE
				SET @vCodRGB = @vTxtMineral1
		END
		ELSE
			SET @vCodRGB = @vTxtMineral1

		IF @vMineral1 IS NOT NULL AND @vMineral2 IS NOT NULL AND @vEstilo1 IS NOT NULL AND @vEstilo2 IS NOT NULL
		BEGIN
			IF @vMineral1 = @vMineral2 AND @vEstilo1 = @vEstilo2
			BEGIN
				RAISERROR('ERROR: La combinacion MINERAL y ESTILO no puede repetirse!',15,-1)
				ROLLBACK
				RETURN
			END
		END
	END
	
	IF @vTipo = 2
	BEGIN
		SET @vCodRGB = 'Sin Alteración'
		SET @vCodLabel = 'Sin Alteración'
	END

	IF @vCodLabel IS NOT NULL AND @vCodRGB IS NOT NULL
		UPDATE ALTERACION__5K SET ALT_MAP=@vCodLabel, ESTILO_RGB=@vCodRGB WHERE OBJECTID=@vObjectID
	ELSE
		UPDATE ALTERACION__5K SET ALT_MAP=NULL, ESTILO_RGB=NULL WHERE OBJECTID=@vObjectID
END
GO

IF EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[dbo].[TGRU_ALTERACION_10K]'))
	DROP TRIGGER dbo.[TGRU_ALTERACION_10K]
GO

/*** CREANDO TRIGGER ****/
-- =============================================
-- Author:		Marlon Leandro & Exploraciones GIS
-- Create date: 12/04/2017 Modificate:01/03/2020
-- Description:	Controlar registro de mapeo de ALTERACION
-- =============================================
CREATE TRIGGER [dbo].[TGRU_ALTERACION_10K]
   ON  [dbo].[ALTERACION_10K]
   AFTER UPDATE
AS 
BEGIN	
	DECLARE @vMineral1 varchar(60), @vMineral2 varchar(60), @vMineral3 varchar(60), @vMineral4 varchar(60), @vMineral5 varchar(60), 
			@vIntensidad1 varchar(60), @vIntensidad2 varchar(60), @vIntensidad3 varchar(60), @vIntensidad4 varchar(60), @vIntensidad5 varchar(60),
			@vEstilo1 varchar(60), @vEstilo2 varchar(60), @vEstilo3 varchar(60), @vEstilo4 varchar(60), @vEstilo5 varchar(60), @vCodLabel nvarchar(80), @vCodRGB nvarchar(80),
			@vTxtMineral1 nvarchar(120), @vTxtEstilo1 nvarchar(120), @vTxtMineral2 nvarchar(120), @vObjectID int,
			@vTipo smallint

	SELECT @vMineral1=MINERAL1, @vMineral2=MINERAL2, @vMineral3=MINERAL3, @vMineral4=MINERAL4, @vMineral5=MINERAL5, 
			@vIntensidad1=INTENSIDAD1, @vIntensidad2=INTENSIDAD2,@vIntensidad3=INTENSIDAD3, @vIntensidad4=INTENSIDAD4, @vIntensidad5=INTENSIDAD5,
			@vEstilo1=ESTILO1, @vEstilo2=ESTILO2, @vEstilo3=ESTILO3, @vEstilo4=ESTILO4, @vEstilo5=ESTILO5, @vObjectID=OBJECTID, @vTipo=TIPO
	FROM inserted
	
	IF @vTipo = 1
	BEGIN	
		/*** OBTENER ETIQUETA ***/
		SELECT @vTxtMineral1=NOMBRE FROM ALTERACIONCODE WHERE CODIGO=@vMineral1 AND DOMINIO='DOM_ALT_MIN'
		IF @vMineral2 IS NOT NULL AND @vMineral2<>'none'
		BEGIN
			SELECT @vTxtMineral2=NOMBRE FROM ALTERACIONCODE WHERE CODIGO=@vMineral2 AND DOMINIO='DOM_ALT_MIN'
			SET @vCodLabel = @vTxtMineral1 + '-' + @vTxtMineral2
		END
		ELSE
			SET @vCodLabel = @vTxtMineral1

		/*** OBTENER ESTILO ***/
		IF @vMineral1 = 'Sil'
		BEGIN
			SELECT @vTxtEstilo1=NOMBRE FROM ALTERACIONCODE WHERE CODIGO=@vEstilo1 AND DOMINIO='DOM_ALT_EST'
			IF @vEstilo1 = 'Vuggy' OR @vEstilo1 = 'gran' OR @vEstilo1 = 'Mass'
				SET @vCodRGB = @vTxtMineral1 + '-' + @vTxtEstilo1
			ELSE
				SET @vCodRGB = @vTxtMineral1
		END
		ELSE
			SET @vCodRGB = @vTxtMineral1

		IF @vMineral1 IS NOT NULL AND @vMineral2 IS NOT NULL AND @vEstilo1 IS NOT NULL AND @vEstilo2 IS NOT NULL
		BEGIN
			IF @vMineral1 = @vMineral2 AND @vEstilo1 = @vEstilo2
			BEGIN
				RAISERROR('ERROR: La combinacion MINERAL y ESTILO no puede repetirse!',15,-1)
				ROLLBACK
				RETURN
			END
		END
	END
	
	IF @vTipo = 2
	BEGIN
		SET @vCodRGB = 'Sin Alteración'
		SET @vCodLabel = 'Sin Alteración'
	END

	IF @vCodLabel IS NOT NULL AND @vCodRGB IS NOT NULL
		UPDATE ALTERACION_10K SET ALT_MAP=@vCodLabel, ESTILO_RGB=@vCodRGB WHERE OBJECTID=@vObjectID
	ELSE
		UPDATE ALTERACION_10K SET ALT_MAP=NULL, ESTILO_RGB=NULL WHERE OBJECTID=@vObjectID
END
GO

IF EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[dbo].[TGRU_ALTERACION_25K]'))
	DROP TRIGGER dbo.[TGRU_ALTERACION_25K]
GO

/*** CREANDO TRIGGER ****/
-- =============================================
-- Author:		Marlon Leandro & Exploraciones GIS
-- Create date: 12/04/2017 Modificate:01/03/2020
-- Description:	Controlar registro de mapeo de ALTERACION
-- =============================================
CREATE TRIGGER [dbo].[TGRU_ALTERACION_25K]
   ON  [dbo].[ALTERACION_25K]
   AFTER UPDATE
AS 
BEGIN	
	DECLARE @vMineral1 varchar(60), @vMineral2 varchar(60), @vMineral3 varchar(60), @vMineral4 varchar(60), @vMineral5 varchar(60), 
			@vIntensidad1 varchar(60), @vIntensidad2 varchar(60), @vIntensidad3 varchar(60), @vIntensidad4 varchar(60), @vIntensidad5 varchar(60),
			@vEstilo1 varchar(60), @vEstilo2 varchar(60), @vEstilo3 varchar(60), @vEstilo4 varchar(60), @vEstilo5 varchar(60), @vCodLabel nvarchar(80), @vCodRGB nvarchar(80),
			@vTxtMineral1 nvarchar(120), @vTxtEstilo1 nvarchar(120), @vTxtMineral2 nvarchar(120), @vObjectID int,
			@vTipo smallint

	SELECT @vMineral1=MINERAL1, @vMineral2=MINERAL2, @vMineral3=MINERAL3, @vMineral4=MINERAL4, @vMineral5=MINERAL5, 
			@vIntensidad1=INTENSIDAD1, @vIntensidad2=INTENSIDAD2,@vIntensidad3=INTENSIDAD3, @vIntensidad4=INTENSIDAD4, @vIntensidad5=INTENSIDAD5,
			@vEstilo1=ESTILO1, @vEstilo2=ESTILO2, @vEstilo3=ESTILO3, @vEstilo4=ESTILO4, @vEstilo5=ESTILO5, @vObjectID=OBJECTID, @vTipo=TIPO
	FROM inserted
	
	IF @vTipo = 1
	BEGIN	
		/*** OBTENER ETIQUETA ***/
		SELECT @vTxtMineral1=NOMBRE FROM ALTERACIONCODE WHERE CODIGO=@vMineral1 AND DOMINIO='DOM_ALT_MIN'
		IF @vMineral2 IS NOT NULL AND @vMineral2<>'none'
		BEGIN
			SELECT @vTxtMineral2=NOMBRE FROM ALTERACIONCODE WHERE CODIGO=@vMineral2 AND DOMINIO='DOM_ALT_MIN'
			SET @vCodLabel = @vTxtMineral1 + '-' + @vTxtMineral2
		END
		ELSE
			SET @vCodLabel = @vTxtMineral1

		/*** OBTENER ESTILO ***/
		IF @vMineral1 = 'Sil'
		BEGIN
			SELECT @vTxtEstilo1=NOMBRE FROM ALTERACIONCODE WHERE CODIGO=@vEstilo1 AND DOMINIO='DOM_ALT_EST'
			IF @vEstilo1 = 'Vuggy' OR @vEstilo1 = 'gran' OR @vEstilo1 = 'Mass'
				SET @vCodRGB = @vTxtMineral1 + '-' + @vTxtEstilo1
			ELSE
				SET @vCodRGB = @vTxtMineral1
		END
		ELSE
			SET @vCodRGB = @vTxtMineral1

		IF @vMineral1 IS NOT NULL AND @vMineral2 IS NOT NULL AND @vEstilo1 IS NOT NULL AND @vEstilo2 IS NOT NULL
		BEGIN
			IF @vMineral1 = @vMineral2 AND @vEstilo1 = @vEstilo2
			BEGIN
				RAISERROR('ERROR: La combinacion MINERAL y ESTILO no puede repetirse!',15,-1)
				ROLLBACK
				RETURN
			END
		END
	END
	
	IF @vTipo = 2
	BEGIN
		SET @vCodRGB = 'Sin Alteración'
		SET @vCodLabel = 'Sin Alteración'
	END

	IF @vCodLabel IS NOT NULL AND @vCodRGB IS NOT NULL
		UPDATE ALTERACION_25K SET ALT_MAP=@vCodLabel, ESTILO_RGB=@vCodRGB WHERE OBJECTID=@vObjectID
	ELSE
		UPDATE ALTERACION_25K SET ALT_MAP=NULL, ESTILO_RGB=NULL WHERE OBJECTID=@vObjectID
END
GO

IF EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[dbo].[TGRU_ALTERACION_50K]'))
	DROP TRIGGER dbo.[TGRU_ALTERACION_50K]
GO

/*** CREANDO TRIGGER ****/
-- =============================================
-- Author:		Marlon Leandro & Exploraciones GIS
-- Create date: 12/04/2017 Modificate:01/03/2020
-- Description:	Controlar registro de mapeo de ALTERACION
-- =============================================
CREATE TRIGGER [dbo].[TGRU_ALTERACION_50K]
   ON  [dbo].[ALTERACION_50K]
   AFTER UPDATE
AS 
BEGIN	
	DECLARE @vMineral1 varchar(60), @vMineral2 varchar(60), @vMineral3 varchar(60), @vMineral4 varchar(60), @vMineral5 varchar(60), 
			@vIntensidad1 varchar(60), @vIntensidad2 varchar(60), @vIntensidad3 varchar(60), @vIntensidad4 varchar(60), @vIntensidad5 varchar(60),
			@vEstilo1 varchar(60), @vEstilo2 varchar(60), @vEstilo3 varchar(60), @vEstilo4 varchar(60), @vEstilo5 varchar(60), @vCodLabel nvarchar(80), @vCodRGB nvarchar(80),
			@vTxtMineral1 nvarchar(120), @vTxtEstilo1 nvarchar(120), @vTxtMineral2 nvarchar(120), @vObjectID int,
			@vTipo smallint

	SELECT @vMineral1=MINERAL1, @vMineral2=MINERAL2, @vMineral3=MINERAL3, @vMineral4=MINERAL4, @vMineral5=MINERAL5, 
			@vIntensidad1=INTENSIDAD1, @vIntensidad2=INTENSIDAD2,@vIntensidad3=INTENSIDAD3, @vIntensidad4=INTENSIDAD4, @vIntensidad5=INTENSIDAD5,
			@vEstilo1=ESTILO1, @vEstilo2=ESTILO2, @vEstilo3=ESTILO3, @vEstilo4=ESTILO4, @vEstilo5=ESTILO5, @vObjectID=OBJECTID, @vTipo=TIPO
	FROM inserted
	
	IF @vTipo = 1
	BEGIN	
		/*** OBTENER ETIQUETA ***/
		SELECT @vTxtMineral1=NOMBRE FROM ALTERACIONCODE WHERE CODIGO=@vMineral1 AND DOMINIO='DOM_ALT_MIN'
		IF @vMineral2 IS NOT NULL AND @vMineral2<>'none'
		BEGIN
			SELECT @vTxtMineral2=NOMBRE FROM ALTERACIONCODE WHERE CODIGO=@vMineral2 AND DOMINIO='DOM_ALT_MIN'
			SET @vCodLabel = @vTxtMineral1 + '-' + @vTxtMineral2
		END
		ELSE
			SET @vCodLabel = @vTxtMineral1

		/*** OBTENER ESTILO ***/
		IF @vMineral1 = 'Sil'
		BEGIN
			SELECT @vTxtEstilo1=NOMBRE FROM ALTERACIONCODE WHERE CODIGO=@vEstilo1 AND DOMINIO='DOM_ALT_EST'
			IF @vEstilo1 = 'Vuggy' OR @vEstilo1 = 'gran' OR @vEstilo1 = 'Mass'
				SET @vCodRGB = @vTxtMineral1 + '-' + @vTxtEstilo1
			ELSE
				SET @vCodRGB = @vTxtMineral1
		END
		ELSE
			SET @vCodRGB = @vTxtMineral1

		IF @vMineral1 IS NOT NULL AND @vMineral2 IS NOT NULL AND @vEstilo1 IS NOT NULL AND @vEstilo2 IS NOT NULL
		BEGIN
			IF @vMineral1 = @vMineral2 AND @vEstilo1 = @vEstilo2
			BEGIN
				RAISERROR('ERROR: La combinacion MINERAL y ESTILO no puede repetirse!',15,-1)
				ROLLBACK
				RETURN
			END
		END
	END
	
	IF @vTipo = 2
	BEGIN
		SET @vCodRGB = 'Sin Alteración'
		SET @vCodLabel = 'Sin Alteración'
	END

	IF @vCodLabel IS NOT NULL AND @vCodRGB IS NOT NULL
		UPDATE ALTERACION_50K SET ALT_MAP=@vCodLabel, ESTILO_RGB=@vCodRGB WHERE OBJECTID=@vObjectID
	ELSE
		UPDATE ALTERACION_50K SET ALT_MAP=NULL, ESTILO_RGB=NULL WHERE OBJECTID=@vObjectID
END